
<h1>Check Out:</h1><br />
<form action="/Home/ProcessPayment" method="post">

    <label class="control-label">Card #</label>
    <input type="number" name="CreditCard" id="cardNumber" onkeyup="testCreditCard()" pattern="^[0-9]{16}$" class="form-control"/>
    <div id="cardNumError" style="font-weight:bold"></div>

    <label class="control-label">Name On Card</label>
    <input type="text" name="NameOnCard" id="nameOnCard" onkeyup="testName()" pattern="^[A-z]{2,}\s[A-z]{2,}$" class=" form-control">
    <div id="nameError" style="font-weight:bold"></div>

    <label class="control-label">CVV</label>
    <input type="password" name="CRV" id="cvvPass" onkeyup="testCVVCode()" pattern="^[0-9]{3}$" class=" form-control">
    <div id="cvvError" style="font-weight:bold"></div>

    <input type="submit" value="$$$$$$$$$$$$" id="checkOutbutton" class="btn-default" disabled/>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="~/Scripts/CreditCardValidation.js"></script>
<a href="/Home/TripList">Cancel Order: Go back to list of Trips</a>
