@*CHECKOUT PAGE*@

@{
    string[] images = new string[10] { "https://images-assets.nasa.gov/image/PIA03456/PIA03456~small.jpg", "https://images-assets.nasa.gov/image/PIA14888/PIA14888~medium.jpg", "https://images-assets.nasa.gov/image/PIA00104/PIA00104~medium.jpg", "https://images-assets.nasa.gov/image/PIA16853/PIA16853~small.jpg", "https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e001427/GSFC_20171208_Archive_e001427~medium.jpg", "https://www.nasa.gov/centers/goddard/images/content/169859main_Art_Planet_sm.jpg", "https://cdn.zmescience.com/wp-content/uploads/2016/08/600px-Venus_in_Real_Color_28Mosaic29.jpg", "https://news-cdn.softpedia.com/images/fitted/620x/NASA-Wants-to-Send-Astronauts-to-Venus-Have-Them-Study-the-Planet-468012-2.jpg", "https://images-assets.nasa.gov/image/PIA03152/PIA03152~small.jpg", "https://images-assets.nasa.gov/image/GSFC_20171208_Archive_e000132/GSFC_20171208_Archive_e000132~medium.jpg" };
}

<img src=@images[ViewBag.Index] height="400" width="400" align="left">


<h2>GIMME YO MONEY</h2><br />
<form action="/User/ConfirmationPage" method="post">
    <label class="control-label">Card #</label>
    <input type="number" name="CreditCard" class="form-control" />

    <label class="control-label">Name On Card</label>
    <input type="text" name="NameOnCard" class=" form-control">

    <label class="control-label">CRV</label>
    <input type="password" name="CRV" class=" form-control">

    <input type="submit" value="$$$$$$$$$$gimme$$$$$$$$$$$$" class="btn-default" />
</form>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

@*
    - Total Price
    - BreakDown Details
        * random price range num
        * distance
        * ship option
    - Credit card info
        * Users DB
        * Name
        * Card number
        * CRV
    - Confirmation email (message to user)

    - Submit form

*@