
@{
    ViewBag.Title = "DeleteTrip";
}

<h1>Your order has been deleted!!</h1>
<h2>Please return to the home page or exit the site! thanks for the money!!!</h2>

<input type="button" value="BYEEEEEEE: Return Home" onclick="location.href='@Url.Action("Index", "Home")'" class="btn-default" />
