<h1>Edit your trip details</h1>


@* Link on top of the page which is only accessible by user who has made a trip *@

@*
    
    - Delete Order button
    - Planet name
    - Picture
    - Button to go to listings page to select a new planet



    REACH GOAL --> REFUND CONFIRMATION PAGE


*@