@*<img src="~/Content/images/background-vibrant.jpg" width="600" height="375" class="center-block" />*@



<br /><br />

<h1 class="text-center">Welcome!</h1>

@*<h3 class="text-center">Always Moving Forward</h3>*@


<link rel="stylesheet" media="screen" href="~/Content/background-index.css" />

@*@foreach(var planet in ViewBag.PlanetList)
    {
        <img src="~/Content/Images/Planets/@planet" />
    }*@

