



<img src="~/Content/images/traverse-rough-color-centered.png" width="600" height="375" class="center-block" />
<h3 class="text-center">Always Moving Forward</h3>

<br /><br />

<h1 class="text-center">Welcome!</h1>

<br /><br />

@*@foreach(var planet in ViewBag.PlanetList)
    {
        <img src="~/Content/Images/Planets/@planet" />
    }*@

