
<h5>You have already placed an order to take a trip. You can only book one trip at a time. NO REFUNDS AVAILABLE</h5>

<h2>Your booked trip...</h2>
<br /><br />



<br /><br /><br />
@*<a href="/Home/ConfirmationPage"><h3>Back to list of Trips</h3></a>*@