
<h1>Choose Your Vacation :)</h1>
@TempData["LoggedIn"]

@for (int i = 0; i <= 10; i++)
{
    <p>Business Price: @ViewBag.YelpInfo["businesses"][i]["price"]</p>
    <p>Planet: @ViewBag.Example[i]["pl_name"]</p>
    <p>Distance from Earth: @ViewBag.Example[i]["st_dist"] parsecs</p>
    <br />
}